<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.forasoft.albumslib">
	
	<uses-permission android:name="android.permission.INTERNET" />
	
	<application
			android:name=".client.util.App"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/AppBaseTheme">
		<activity
				android:name=".client.activity.SearchAlbumActivity"
				android:configChanges="orientation|keyboardHidden|screenSize" >
			
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
				android:name=".client.activity.AlbumDetailActivity"
				android:theme="@style/AppBaseTheme.Detailed"/>
	</application>

</manifest>